@use '../mixins' as *;
@use '../variables' as *;

.forecast {
  display: flex;
  flex-direction: column;
  gap: 1em;

  position: relative;
  z-index: 2;

  margin-top: -1em;

  width: 100%;
}

.forecast-day {
  display: grid;

  background: $input-background-color;

  @include base-radius;

  overflow: hidden;
}

.forecast-day__weather {
  padding: 1.5em;
}

.forecast-day__title {
  margin: 0 0 1.5em;

  font-size: 1.25rem;
  font-weight: 700;
  color: $primary-text-color;
}

.forecast-day__title--highlighted {
  color: $weekend-text-color;
}

.forecast-day__table,
.forecast-period {
  display: grid;

  grid-template-columns:
    6em
    minmax(14em, 2fr)
    minmax(6em, 1fr)
    minmax(7em, 1fr)
    minmax(6em, 1fr)
    minmax(6em, 1fr);

  column-gap: 1em;

  align-items: center;
}

.forecast-day__table {
  padding-bottom: .75em;

  color: $secondary-text-color;
  font-size: .875rem;
}

@media (max-width: 48em) {
  .forecast-day__weather {
    padding: 1em;
    overflow-x: auto;
  }

  .forecast-day__table,
  .forecast-period {
    grid-template-columns:
      5em
      11em
      6em
      6em
      6em
      7em;

    column-gap: .75em;

    min-width: 45em;
  }


  .forecast-day__title {
    position: sticky;
    left: 0;
  }

  .forecast-card__title {
    font-size: 1.25rem;
  }
}