@use '../mixins' as *;
@use '../variables' as *;

.search {
  position: relative;
}

.search__input {
  border: .0625em solid $primary-border-color;
  background: $input-background-color;
  @include interactive-element-radius;
  color: $primary-text-color;
  font-weight: bold;

  min-height: 2.75em;
  width: 100%;

  padding: .75em;
}

.search__nav {
  @include flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;
}

.search__suggestions {
  background: $input-background-color;
  @include base-radius;

  font-weight: bold;

  padding: .5em 1em;

  width: 100%;

  cursor: pointer;

  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
}

.search__suggestion {
  margin-bottom: .25em;

  @include base-radius;

  padding: .75em;
  cursor: pointer;

  &:hover,
  &--active{
    background: $background-default-hovered;
  }
}

@media (max-width: 48em) {
  .search__nav {
    gap: .5em;
  }

  .search__input {
    min-width: 0;
  }
}