@use '../mixins' as *;
@use '../variables' as *;

.search {
  position: relative;
}

.search__input {
  border: .0625em solid $primary-border-color;
  background: $input-background-color;
  @include interactive-element-radius;
  color: $primary-text-color;
  font-weight: bold;

  min-height: 2.75em;
  width: 100%;

  padding: .75em;
}

.search__controls {
  @include flex;
  justify-content: space-between;
  align-items: center;

  gap: 1em;
}

.search__suggestions {
  background: $input-background-color;
  box-shadow: 0 .25em .75em rgba(0, 0, 0, .15);
  @include base-radius;

  font-weight: bold;
  width: 100%;

  padding: .5em 1em;

  cursor: pointer;
}

.search__suggestion {
  margin-bottom: .25em;

  @include base-radius;

  padding: .75em;
  cursor: pointer;

  &:hover,
  &--active{
    background: $background-default-hovered;
  }
}

.search__dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  z-index: 10;

  opacity: 0;
  transform: translateY(-.5em);
  visibility: hidden;
  pointer-events: none;

  transition:
          opacity .2s ease,
          transform .2s ease,
          visibility .2s;
}

.search__dropdown--open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: 48em) {
  .search__controls {
    gap: .5em;
  }

  .search__input {
    min-width: 0;
  }
}