$primary-background-color: #0e0e0e;
$secondary-background-color: #161617;
$accent-background-color: #1c1c1c;
$weekend-text-color: #e53935;

$input-background-color: rgba(22, 22, 23, 1);

$button-background-color: rgba(255, 255, 255, .12);
$button-background-color-hovered: rgba(255, 255, 255, .04);

$background-default-hovered: rgba(255, 255, 255, .18);

$accent-info-background-color: rgba(67, 72, 109, 1);

$primary-text-color: rgba(255, 255, 255, .9);
$secondary-text-color: rgba(255, 255, 255, .56);

$primary-border-color: rgba(255, 255, 255, .08);